<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title><%= title %></title>
    <!-- Bootstrap core CSS -->
    <link href="<%=require('assets').get('frontTheme')%>/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="<%=require('assets').get('frontTheme')%>/css/retalapp.css" rel="stylesheet">
  </head>
  <body>
    <%-body %>
    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
        <p>New to Bootstrap? <a href="#">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>window.jQuery || document.write('<script src="<%=require('assets').get('frontTheme')%>/js/jquery-3.2.1.slim.min.js"><\/script>')</script>
    <script src="<%=require('assets').get('frontTheme')%>/js/popper.min.js"></script>
    <script src="<%=require('assets').get('frontTheme')%>/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="<%=require('assets').get('frontTheme')%>/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
