<nav class="nav nav-tabs px-3" id="myTab" role="tablist"></nav>
<div class="tab-content">
  <div class="container-fluid py-3 tab-pane fade show active">

    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="<%=require('href').go('/admin')%>">Admin</a></li>
      <li class="breadcrumb-item"><a href="<%=require('href').go('/admin/schemas')%>">Squemas</a></li>
      <li class="breadcrumb-item"><a href="<%=require('href').go('../../fields')%>"><%=model.name%></a></li>
      <li class="breadcrumb-item active">Add Field</li>
    </ol>

    <%-require('admin').showWillMessages()%>

    <form action="" method="post">

      <div class="form-group">
        <label for="structureName">Add a new field *</label>
        <select name="field_type" class="form-control form-control-sm col-md-2" id="structureName">
          <option value="">Choose...</option>
          <% _.each(['String', 'Number', 'Date', 'Buffer', 'Boolean', 'Mixed', 'Objectid', 'Array'], (field_type) => { %>
            <option <%= (field.field_type==field_type) ? 'selected="selected"' : ''; %> 
              value="<%= field_type %>"><%= field_type %></option>
          <% }) %>
        </select>
        <small class="help-block text-danger"><%= (errors && errors.field_type) ? errors.field_type : '';%></small>
        <small id="structureNameHelp" class="form-text text-muted">Select the field type.</small>
      </div>

      <div class="form-group">
        <label for="structureNamelabel">label *</label>
        <input value="<%=field.label%>" name="label" class="form-control form-control-sm col-md-2" id="structureNamelabel">
        <small class="help-block text-danger"><%= (errors && errors.label) ? errors.label : '';%></small>
        <small id="structureNameHelplabel" class="form-text text-muted">Field label.</small>
      </div>
      <div class="form-group">
        <label for="structureNamename_code">name_code *</label>
        <input value="<%=field.name_code%>" name="name_code" class="form-control form-control-sm col-md-2" id="structureNamename_code">
        <small class="help-block text-danger"><%= (errors && errors.name_code) ? errors.name_code : '';%></small>
        <small id="structureNameHelpname_code" class="form-text text-muted">Field name_code.</small>
      </div>

      <div class="form-group">
        <label for="structureNamehelp_text">Help text</label>
        <textarea name="help_text" class="form-control form-control-sm" id="structureNamehelp_text" rows="3" aria-describedby="structureDescriptionHelp"><%=field.help_text%></textarea>
        <small class="help-block text-danger"><%= (errors && errors.help_text) ? errors.help_text : '';%></small>
        <small id="structureNameHelphelp_text" class="form-text text-muted">A description to show in the add data form.</small>
      </div>

      <div class="form-group">
        <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
          <input 
            <%= field.is_required?'checked="checked"':''; %> 
            name="is_required" 
            type="checkbox" 
            class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Required</span>
        </label>
      </div>

      <button type="submit" class="btn btn-primary btn-sm">Add a new field</button>
    </form>
  </div>
</div>
