<nav class="nav nav-tabs px-3" id="myTab" role="tablist"></nav>
<div class="tab-content">
  <div class="container-fluid py-3 tab-pane fade show active">

    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="<%=require('href').go('/admin')%>">Admin</a></li>
      <li class="breadcrumb-item"><a href="<%=require('href').go('/admin/schemas')%>">Squemas</a></li>
      <li class="breadcrumb-item"><a href="<%=require('href').go('../../fields')%>"><%=model.name%></a></li>
      <li class="breadcrumb-item active">Add Field</li>
    </ol>

    <%-require('admin').showWillMessages()%>

    <form action="" method="post">
      <div class="form-group">
        <label for="structureName">Add a new field *</label>
        <select name="field_type" class="form-control form-control-sm col-md-2" id="structureName">
          <option value="">Choose...</option>
          <option <%= field.field_type=='1'?'selected="selected"':''; %> value="1">One</option>
          <option <%= field.field_type=='2'?'selected="selected"':''; %> value="2">Two</option>
          <option <%= field.field_type=='3'?'selected="selected"':''; %> value="3">Three</option>
        </select>
        <small class="help-block text-danger"><%= (errors && errors['fields.0.field_type']) ? errors['fields.0.field_type'] : '';%></small>
        <small id="structureNameHelp" class="form-text text-muted">Select the field type.</small>
      </div>
      <!-- <div class="form-group">
          <label for="structureMachineName">Machine-readable name *</label>
          <input type="text" name="name_code" value="<%=field.name_code%>" class="form-control col-md-3" id="structureMachineName" aria-describedby="structureMachineNameHelp">
          <small class="help-block text-danger"><%= (errors && errors.name_code) ? errors.name_code : '';%></small>
          <small id="structureMachineNameHelp" class="form-text text-muted">A unique machine-readable name for this data structure. It must only contain lowercase letters, numbers, and underscores. This name will be used for constructing the internal and programatic access to the data field.</small>
      </div> -->
      <!-- <div class="form-group">
        <label for="structureDescription">Description</label>
        <textarea name="help_text" class="form-control" id="structurehelp_text" rows="3" aria-describedby="structurehelp_textHelp"><%=field.help_text%></textarea>
        <small class="help-block text-danger"><%= (errors && errors.help_text) ? errors.help_text : '';%></small>
        <small id="structurehelp_textHelp" class="form-text text-muted">A description to show in the add data form.</small>
      </div> -->
      <button type="submit" class="btn btn-primary btn-sm">Add a new field</button>
    </form>
  </div>
</div>
