<nav class="nav nav-tabs px-3" id="myTab" role="tablist">
  <a class="nav-item nav-link active" href="<%=require('href').go('../edit')%>">Edit</a>
  <a class="nav-item nav-link" href="<%=require('href').go('../fields')%>">Fields</a>
  <a class="nav-item nav-link" href="<%=require('href').go('../versions')%>">Versions</a>
</nav>
<div class="tab-content">
  <div class="container-fluid py-3 tab-pane fade show active">

    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="/admin/schemas">Schemas</a></li>
      <li class="breadcrumb-item active">Edit <em><%=model.name%></em> Schema</li>
    </ol>

    <%-require('admin').showWillMessages()%>

    <% include _schemas-form %>

  </div>
</div>
