<section class="content-header">
  <ol class="breadcrumb">
    <li><a href="/admin"><%=require('lang').t('Dashboard')%></a></li>
    <li class="active"><%=require('lang').t('Error')%> <%=title%></li>
  </ol>
</section>
<section class="content">
  <h1><%=require('lang').t('Someting went wrong :(')%></h1>
  <p><strong><%=message%></strong></p>
  <p><%=error%></p>
</section>
